.ipynb_checkpoints
.ipynb_checkpoints/*
.idea
data
logs
models
*.pyc



#可以下载,只记录地址
notes-python
#https://github.com/lijin-THU/notes-python

#小象学院-深度学习课程
han-DL

#cs231课件1
#http://cs231n.stanford.edu/assignments/2017/spring1617_assignment1.zip
cs231
assignment1


#yahoo鉴黄
https://github.com/mdietrichstein/tensorflow-open_nsfw
